<div class="fieldsets_table0">
    <fieldset>
        <legend>
                <%= I18n.t('salaries.index.title')%>
        </legend>
		<% if @salaries!=nil&&@salaries.size>0%>
		<table class="tablesorter" cellspacing="1">
		<thead>
 <tr>
    <th><%= I18n.t('salaries.index.issue_date')%> </th>
    <th><%= I18n.t('salaries.index.name')%></th>
    <th><%= I18n.t('salaries.index.dept_name')%></th>
    <th><%= I18n.t('salaries.index.position_num')%></th>
    <th><%= I18n.t('salaries.index.car_allowance')%></th>
    <th><%= I18n.t('salaries.index.housing_allowance')%></th>
    <th><%= I18n.t('salaries.index.reissue')%></th>
    <th><%= I18n.t('salaries.index.totle_num')%></th>
    <th><%= I18n.t('salaries.index.lunion_fee')%></th>
    <th><%= I18n.t('salaries.index.housing_fund')%></th>
    <th><%= I18n.t('salaries.index.unemployment')%></th>
    <th><%= I18n.t('salaries.index.pension')%></th>
    <th><%= I18n.t('salaries.index.basic_medical')%></th>
    <th><%= I18n.t('salaries.index.trivial')%></th>
    <th><%= I18n.t('salaries.index.annunity')%></th>
    <th><%= I18n.t('salaries.index.tax_deduct')%></th>
    <th><%= I18n.t('salaries.index.re_deduct')%></th>
    <th><%= I18n.t('salaries.index.total_deduct')%></th>
    <th><%= I18n.t('salaries.index.final_num')%></th>
    <th><%= I18n.t('salaries.index.remark')%></th>
  </tr>
	</thead>
	<tbody>
<% @salaries.each do |salary| %>
  <tr>
    <td><%=h salary.issue_date.strftime("%Y-%m-%d") %></td>
    <td><%=h salary.name %></td>
    <td><%=h salary.dept_name %></td>
    <td><%=h salary.postion_num %></td>
    <td><%=h salary.car_allowance %></td>
    <td><%=h salary.housing_allowance %></td>
    <td><%=h salary.reissue %></td>
    <td><%=h salary.total_num %></td>
    <td><%=h salary.lunion_fee %></td>
    <td><%=h salary.housing_fund %></td>
    <td><%=h salary.unemployment %></td>
    <td><%=h salary.pension %></td>
    <td><%=h salary.basic_medical %></td>
    <td><%=h salary.trivial %></td>
    <td><%=h salary.annunity %></td>
    <td><%=h salary.tax_deduct %></td>
    <td><%=h salary.re_deduct %></td>
    <td><%=h salary.total_deduct %></td>
    <td><%=h salary.final_num %></td>
    <td><%=h salary.remark %></td>
  </tr>
<% end %>
</tbody>
</table>
		<div>
			<p>
			<%= will_paginate @salaries, {:class=>"flickr_pagination"}%>  
			</p>
		<table class="tablesorter" cellspacing="1">
			<thead>
				<tr>
					<th>
						 <%= I18n.t('insurance.temp.name')%> 
					</th>
					<th>
						<%= I18n.t('insurance.temp.date')%> 
					</th>
					 <th><%= I18n.t('dept_summary.index.position_num')%></th>
				    <th><%= I18n.t('dept_summary.index.car_allowance')%></th>
				    <th><%= I18n.t('dept_summary.index.housing_allowance')%></th>
				    <th><%= I18n.t('dept_summary.index.reissue')%></th>
				    <th><%= I18n.t('dept_summary.index.totle_num')%></th>
				    <th><%= I18n.t('dept_summary.index.lunion_fee')%></th>
				    <th><%= I18n.t('dept_summary.index.housing_fund')%></th>
				    <th><%= I18n.t('dept_summary.index.unemployment')%></th>
				    <th><%= I18n.t('dept_summary.index.pension')%></th>
				    <th><%= I18n.t('dept_summary.index.basic_medical')%></th>
				    <th><%= I18n.t('dept_summary.index.trivial')%></th>
				    <th><%= I18n.t('dept_summary.index.annunity')%></th>
				    <th><%= I18n.t('dept_summary.index.tax_deduct')%></th>
				    <th><%= I18n.t('dept_summary.index.re_deduct')%></th>
				    <th><%= I18n.t('dept_summary.index.total_deduct')%></th>
				    <th><%= I18n.t('dept_summary.index.final_num')%></th>
				</tr>
			</thead>
			<tbody>
					<% @salaries_total.each do |salary|%>
				<tr>
					<td>
						<%= session[:user_name]%>
					</td>
					<td>
						<%= I18n.t('filter.temp.util')%> <%= Time.now.strftime("%Y-%m-%d")%>
					</td>
					 <td><%=h salary.postion_num %></td>
					<td><%=h salary.car_allowance %></td>
					<td><%=h salary.housing_allowance %></td>
					<td><%=h salary.reissue %></td>
					<td><%=h salary.total_num %></td>
					<td><%=h salary.lunion_fee %></td>
					<td><%=h salary.housing_fund %></td>
					<td><%=h salary.unemployment %></td>
					<td><%=h salary.pension %></td>
					<td><%=h salary.basic_medical %></td>
					<td><%=h salary.trivial %></td>
					<td><%=h salary.annunity %></td>
					<td><%=h salary.tax_deduct %></td>
					<td><%=h salary.re_deduct %></td>
					<td><%=h salary.total_deduct %></td>
					<td><%=h salary.final_num %></td>
				</tr>
				<% end%>
			</tbody>
		</table>
			<p class="icons" align="center">
				<a><%= link_to image_tag("icons/download_icon.png", :alt=>"Download", :title=>"Download"), {:action => 'temp_generate_sal_excel'}%></a>
			</p>	
		</div>
		<% else %>
		 <p>
             <%= I18n.t('salaries.index.message')%> 
        </p>
        <% end %>
	</fieldset>
</div>		